li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

.header {
    /* box */
    margin: 0 auto;
    padding: 1rem;
    background-color: #d9d9d9;
    border-radius: 0 0 1rem 1rem;

    /* text */
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}